main.container {
    min-height: calc(100vh - 160px);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 50%;
}

.fa-close {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: red;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
}
.fa-close:hover {
    background-color: rgb(149, 0, 255);
}

.main-title {
    font-size: 64px;
    line-height: 48px;
    text-transform: uppercase;
    color: black;
}

.description {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 8px 30px;
    font-size: 20px;
    text-decoration: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
}
.btn:hover {
    background-color: rgb(30, 255, 0);
}

.hero {
    position: fixed;
    z-index: -1;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    inset: 0;
    background-image: url(../img/hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}